/* Project Page */
.projectContainer {
  width: 100%;
}

.projectTile {
  box-sizing: border-box;
  float: left;
  height: 200px;
  padding: 15px;
  vertical-align: middle;
  width: 33.33%;
  margin-top: 1em;
  margin-bottom: 1em;

}

.projectTile .thumbnail {
  overflow: hidden;
  height: 200px;
  width: 100%;
  display: block;

}

.projectTile .thumbnail img {
  height: auto;
  position: relative;
  left: -25%;
  top: -5%;
  width: 500px;
}

.projectTile .thumbnail a {
  float: left;
  height: 200px;
  position: relative;
  width: 100%;
}

.projectTile .thumbnail a span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  color: $text-color ;
  padding: 10px;
  text-align: center;

  @media (prefers-color-scheme: dark) {
  color: $text-color-dark;
}
}

.projectTile .thumbnail a span h1 {
  font-size: 1.5rem;
  position: relative;
  top: 20%;
}

.projectTile .thumbnail:hover a span h1 {
  font-size: 1.5rem;
  position: relative;
  top: 10%;
}

.projectTile .thumbnail a span p {
  color: $text-color;
  position: relative;
  display: none;

  @media (prefers-color-scheme: dark) {
  color: $text-color-dark;
}
}

.projectTile .thumbnail:hover a span p {
  color: $text-color;
  position: relative;
  top: -10%;
  display: block;

  @media (prefers-color-scheme: dark) {
  color: $text-color-dark;
}
}

.projectTile .thumbnail a:hover span {
  display: block;
}

.blankbox {
  background: $projectbox;

  @media (prefers-color-scheme: dark) {
  background: $projectbox-dark;
  }
}

}
