---
layout: default
permalink: /archive/
title: Archive
---

<div class="article-list">
	{% for post in site.posts %}
	{% unless post.next %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
	{% if year != nyear %}
	<h3><small>{{ post.date | date: '%B %Y' }}</small></h3>
	{% endif %}
	{% endunless %}
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
	{% endfor %}
</div>
