---
# layout: compress
---
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

        {% seo %}

        {% include favicon.html %}

        {% include mathjax.html %}

        {% include fontawesome.html %}

    </head>

    <body>
        <main>
            <article>
                {{ content }}
            </article>
        </main>
    
    </body>

    {% include footer.html %}
</html>
